@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inconsolata:wght@200..900&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Limelight&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "tailwindcss";

.limelight {
  font-family: "Limelight", sans-serif;

}

.montserrat {
  font-family: "Montserrat", sans-serif;


}

.poppins {
  font-family: "Poppins", sans-serif;

}

.grotesk {
  font-family: "Host Grotesk", sans-serif;

}

.inconsolata {
  font-family: "Inconsolata", monospace;

}

.inter {
  font-family: "Inter", sans-serif;

}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 1.5px #ffffff;
  text-shadow: 1.5px #ffffff;
}



.gradient-hover-underline {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.playfair {
  font-family: "Playfair Display", serif;

}

.gradient-hover-underline::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;

  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, blue, violet);

  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.gradient-hover-underline:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.gradient-hover-underline:hover {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, blue, violet);
  transition: background-image 0.3s ease;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./assets/fonts/ClashGrotesk-Bold.otf') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.myfont {
  font-family: "ClashGrotesk", sans-serif;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

/* FIRST ROW → auto scroll LEFT */
.marquee-inner {
  display: flex;
  width: 100%;
  animation: marquee-left 4s linear infinite;
  will-change: transform;
}

/* SECOND ROW → auto scroll RIGHT */
.marquee-reverse {
  display: flex;
  width: 100%;
  animation: marquee-right 4s linear infinite;
  will-change: transform;
}

/* IMPORTANT: cards must not shrink */
.marquee-inner>*,
.marquee-reverse>* {
  flex-shrink: 0;
}